/* Navbar.css */
.navbar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    position: sticky;
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff6600 !important;
}

.ms-auto {
    margin-left: auto !important;
    float: right;
    text-align: center;

}

.ml-2 {
    margin-left: 0.5rem !important;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #ff6600;
    border-color: #ff6600;
    color: #fff;
}
