/* App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/WebsiteBackground.gif'); /* Ensure the path is correct */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: blur(8px); 
}

.app-container {
  min-height: 100vh;
  color: #ffffff;
  max-width: 100%;
  width: 100%;
}
